logs
target
bin
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
conf/application.conf
node_modules
modules/admin/app/assets/javascript
modules/admin/target
modules/website/target
modules/admin/node_modules
.ensime_cache
*.log
.ensime
pc.stdout.log
/uploads
modules/admin/app/assets/javascripts
modules/website/app/assets/vendor