@import _root_.models.admin.Document
@import _root_.utils.admin._
@import _root_.views.html.editables._
@(document:Document)(implicit request:PageRequest[AnyContent])

@webmain(document.name) {
<div class="row section-rowww">
    <div class="col-md-6">
        <h1>@document.name</h1>
        @inlineeditable("test", "h2", false)
        @inlineeditable("blaat", "div", true)
    </div>
    <div class="col-md-6">
        @inlineeditable("nogeentest", "div", true)
    </div>
    <div class="col-md-6">@inlineeditable("leftcol", "div", true)</div>
    <div class="col-md-6">@inlineeditable("rightcol", "div", true)</div>
</div>

}{
    @defaultheader()
}