
.fa-folder, .fa-folder-open {
    color: #e8a93b;
}

.fa-file-code-o {
    color: #156994;
}

.fa-file-image-o {
    color: #04761a;
}

.fa-file-pdf-o {
    color: red;
}

.fa-cube {
    color: #156994;
}

/*
.selected .fa, li.active .fa {
    color: #FFF;
}
*/