
// $menuback: #6E9AB2;
// $color1: #FFD0D3;
// $color2: #B6E5FF;
// $color3: #CCCA7E;
// $color4: #B2B177;
// $bgcolor: #EEEFF1;

$menuback: #7C90A0;
$color1: #3d5461;
$color2: #b5cbd4;
$color4: #e6e6e6;
$color3: #f5500c;
$bgcolor: #FFF;