@(msg: String, token:String)(implicit request:RequestHeader)

@views.html.admin.main(msg){
    <div style="display: none" id="csrftoken">@token</div>
    <div id="react-app"></div>
    <div id="errordiv"></div>
    <script src="@controllers.admin.routes.Assets.versioned("javascripts/react.bundle.js")" type="text/javascript"></script>
    <script src="@controllers.admin.routes.Assets.versioned("javascripts/app.bundle.js")" type="text/javascript"></script>

   
    
    <script type="text/javascript">

        App.renderAdmin();
      </script>


}