
@import 'colors/something';

body {
    background: $bgcolor;
    color: #003300;
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Lato', 'sans-serif';
}

.splitpane-container {
    position: absolute; top: 0; left: 80px; bottom: 0; right: 0;
}

.leftpanel {
    .show { display: block; }
    .hide { display: none; }
}

.panel-treeview {
    width: 100%; 
    height: 100%;
    overflow: auto;
    background: #FFF;
    //border-right: 1px solid $color2;
}

.iframe-wrapper {
    position: absolute; top: 143px; left: 0px; right: 0; bottom: 0;
}
iframe.documentIframe {
    position: absolute;
    border: 0;
    margin: 0; padding: 0;
    border-bottom: 2px solid #00ff00;
    width: 100%;
    height: 100%;
}

.loadingiframe {
    position: absolute; top: 126px; left: 0px; right: 0; bottom: 0;
    background: #000;
    opacity: 0.6;
    img {
        display: block; margin: 100px auto 0 auto;
    }
}

.blockiframe {
    position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: #000; opacity: 0.1;
}

.errors {
    margin-bottom: 10px;
    .errormsg {
        color: red;
    }
}

.loading {
    position: absolute; top: 0; left: 0;
    width: 100%;
    img {
        display: block; margin: 90px auto 0 auto;
    }
}
 
.working {
    opacity: 0.6;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.overlay {
    position: absolute; top: 40px; left: 0; right: 0; bottom: 0;
    background: #000; opacity: 0.4;
}



.imageviewerback {
    background: $color4;
    position: absolute; top: 47px; left: 0; right: 0; bottom: 0;
}

.imageviewer {
    display: inline-block; vertical-align: middle;
    position: absolute; top: 120px; left: 0; right: 0; bottom: 40px;
    img { 
        display: block; margin: auto;
        max-height: 100%;  max-width: 100%;
        -webkit-box-shadow: 6px 6px 33px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 33px -9px rgba(0,0,0,0.75);
box-shadow: 6px 6px 33px -9px rgba(0,0,0,0.75);
    }
}



.fileviewer {
    text-align: center;
    padding-top: 50px;
    a.downloadbtn {
        display: inline-block;
        background: $color1;
        color: #FFF;
        padding: 15px;
        text-decoration: none;
    }
    a.downloadbtn:hover {
        background: $menuback;
    }
}

.textcontent {
    position: absolute; top: 126px; left: 0; right: 0; bottom: 0;
    overflow: auto;
    white-space: pre;
    padding: 15px;
    font-size: 14px;
}