$nodeheight: 28px;

.treeContainer {
    padding: 15px;
    overflow: auto;
    position: absolute; top: 50px; left: 0; right: 0; bottom: 0;
}

.treeContainer > nav > ul.navItems {
    padding: 0;
    margin-left: 13px;
    
}

ul.navItems {
    list-style-type: none;
    padding: 0 0 0 0px;
    user-select: none;
    -moz-user-select: none;
    border-left: 1px dotted #e2e2e2;
    margin-left: 30px;
    > li.navItem {

        padding: 0;
        margin-left: -13px;
        > .compositeLink {
            
            display: flex;
            position: relative;
            -moz-user-select: none;
                user-select: none;
            min-height: $nodeheight;
            color: #333;

            > .emptyPlaceHolder {
                width: 26px; min-width: 26px;
                display: inline-block;
                margin: 15px 0 0 0;
            }

            > .link {
                display: inline-block;
                flex-grow: 1;

                min-height: $nodeheight; line-height: $nodeheight;
                font-size: 14px;
                cursor: pointer; white-space: nowrap; 

                &, & > * {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: auto;
                }

                .contextmenu {
                    white-space: normal;
                }

                .fileicon {
                    margin-right: 1px;
                }

                .deleted {
                    color: #ff0000;
                }

                .dragover {
                    border: 1px dotted $menuback;
                    
                }

                .renameContainer {
                    display: flex; 
                }
                .addContainer {
                    display: flex;
                    margin-bottom: 3px;
                    margin-left: 18px;
                }
                .treeicon {
                    flex-basis: 11px; min-width: 11px; 
                    .fa {
                        height: 26px; line-height: 26px;
                    }
                }
                .treerename {
                    flex-grow: 1;
                    margin-left: 1px;
                    margin-right: 3px;
                    input[type='text'] {
                        border: 0; outline: 0; background: #fff; height: 24px; line-height: 26px; margin-top: 0px; width: 100%;
                        font-size: 14px;
                        text-indent: 0px;
                        padding-left: 5px;
                        
                        font-family: 'Lato', sans-serif;
                        border-radius: 3px;
                    }
                }
            }

            .beforeLabel {
                flex-basis: 26px;
            }

            .collapseButton {
                display: inline-block; width: 26px; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0; padding: 0;
                text-align: center;

                cursor: pointer;
                outline: none; border: none;
                background: none;
                font-weight: 400;
                font-size: 18px; line-height: $nodeheight;
                .rotateIcon {
                    transform: rotate(-90deg);
                }

                .chevronIcon {
                    outline: none; width: 26px; line-height: 28px;
                    transition: transform .1s linear,-webkit-transform .1s linear;
                }

                .arrow {
                    font-size: 16px;
                    line-height: 27px;
                }
                
            }
            .collapseButton:focus { outline: none }
        }
        .menubtn {
            border: 0; box-shadow: none; float: none; display: none; position: absolute; top:0; right: 0;
            height: auto; min-height: 1px; line-height: 14px;
        }
        .menubtn:hover, .menubtn:focus {
            background-color: none;
            background: none; border: 0; box-shadow: none;
        }

        .compositeLink:hover {
            background: #f3f3f3;
            .menubtn { display: inline-block; }
        }

        .selected, .selected:hover {
            box-sizing: content-box;
            background: #ecfaff;
            color: #333;
            border: 1px solid #6bccea;
            margin-left: -1px;
            overflow: hidden;
            min-height: 26px;
            .menubtn { display: inline-block; }
            .link {
                min-height: 26px;
                line-height: 26px;
            }
            .collapseButton {
                line-height: 26px;
                .chevronIcon {
                    line-height: 26px;
                }
            }
        }

        ul.hidden  { 
            display: none;
        }
    }
}