.menuleft {
    background: $menuback;
    -webkit-box-shadow: inset -12px 0px 21px -6px rgba(0,0,0,0.18);
-moz-box-shadow: inset -12px 0px 21px -6px rgba(0,0,0,0.18);
box-shadow: inset -12px 0px 21px -6px rgba(0,0,0,0.18);
    width: 80px;
    position: fixed; top: 0; left: 0; bottom: 0;
    ul {
        display: block;
        list-style-type: none;
        margin: 0; padding: 0;
        li {
            display: block;
            height: 60px;
            border-bottom: 1px solid #5E6073;
            color: #FFF;
            padding-top: 15px;
            text-align: center;
            font-size: 12px;
            .fa {
                font-size: 25px;
            }
            a, a:active { display: block; margin-top: -15px; padding-top: 15px; color: #FFF; text-decoration: none; }
        }
        li:hover {
-webkit-box-shadow: inset 10px 10px 21px 1px rgba(0,0,0,0.18);
-moz-box-shadow: inset 10px 10px 21px 1px rgba(0,0,0,0.18);
box-shadow: inset 10px 10px 21px 1px rgba(0,0,0,0.18);
          cursor: pointer;
        }

        .signoutbtn {
            position: absolute; left: 0; right: 0; bottom: 0;

        }

        li.active {
            -webkit-box-shadow: inset 10px 10px 60px 1px rgba(0,0,0,0.44);
-moz-box-shadow: inset 10px 10px 60px 1px rgba(0,0,0,0.44);
box-shadow: inset 10px 10px 60px 1px rgba(0,0,0,0.44);
        }
    }
}